.card {
  display: flex;
  min-height: 10vh;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.2);

  ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }

  h2 {
    margin-left: 20px;
  }
}